html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    padding:0;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

@media (min-width: 1024px) {
    body {
        margin-top: 4em;
        margin-left: 15%;
        margin-right: 15%;
    }
}


h1 {
    font-family: 'Cutive Mono', monospace;
    font-weight: 400;
    font-size: 2em;
    color: #93a1a1;
}

div.outline-2 h2 {
    font-size: 1.5em;
    margin-bottom:0.1em;
}

div.outline-text-2 {
    font-weight: normal;
}

div.org-src-container {
    margin-left: 10%;
    margin-right: 10%;
}
